.slider{
  overflow: hidden;
  margin-top: 0.5vw;
  border: 0.25vw solid black;
}
.slider figure{
  position: relative;
  width: 250%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.slider figure img {
  width: 25%;
  height: 30vw;
  float: left;
}
@keyframes slider{
  0%{
    left:0;
  }
  90%{ 
    left:-150%;
  }
}
